.coming {
    font-size: 32px;
    font-weight: 900;
    background: linear-gradient(-45deg, #5ddb3a, #ff7000, #b400ff, #000000);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    padding: 5px 30px 5px;
    border-radius: 20px;
    color: white;
    margin-bottom: 50px;
    margin-top: 50px;
    /*
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
*/
    @media screen and (min-width: 768px) {
        font-size: 52px;
        padding: 10px 50px 10px;
        border-radius: 30px;
        margin-bottom: 100px;
        margin-top: 100px;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}