$bg-color: var(--svg-front);
.timer {
  margin-bottom: 20px;
  margin-top: 20px;
  /*animation: woohoo 1s cubic-bezier(0.42, 0, 0.3, 1.63);*/
}

.timerDesktop {
  @extend .timer;
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 25px;
  }
}

.timerMobile {
  @extend .timer;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.timerRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.timeWrap {
  align-items: center;
  /*
border-top-left-radius: 70% 60%;
border-bottom-right-radius: 70% 60%;
-moz-border-top-left-radius: 70% 50%;
-moz-border-bottom-right-radius: 70% 50%;
*/
  background-color: $bg-color;
  border-radius: 30px 7px;
  color: var(--nt-white);
  display: flex;
  flex-direction: column;
  font-size: 15px;
  justify-content: center;
  margin: 0;
  padding: 5px 10px;
  width: 60px;
  z-index: 10;
  :nth-child(2) {
    margin-left: -5px;
  }
  @media screen and (min-width: 768px) {
    border-radius: 50px 10px;
    font-size: 20px;
    margin: 0 0 10px;
    padding: 5px;
    width: 100px;
  }
}

@keyframes woohoo {
  from {
    opacity: 0;
    transform: scale(3);
  }
  to {
    transform: none;
  }
}

.time {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 0;
  position: relative;
  @media screen and (min-width: 768px) {
    font-size: 40px;
    margin-bottom: 10px;
  }
}
