.bugWrap {
    position: absolute;
    z-index: -1;
    transition-property: left, right, transform;
    transition-duration: 40s, 40s, 1s;
    transition-timing-function: linear;
    -webkit-transition-property: left, right, transform;
    -webkit-transition-duration: 40s, 40s, 1s;
    -webkit-transition-timing-function: linear;
}

.bugWrapDesktop {
    @extend .bugWrap;
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.bugWrapMobile {
    @extend .bugWrap;
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.bug {
    transform: rotate(323deg);
    width: 50px;
    height: auto;
    @media screen and (min-width: 768px) {
        width: 100px;
    }
}

@keyframes slideIn {
    from {
        left: -200px;
    }
    to {}
}