.syskrack {
    margin: 10px;
    margin-top: 0;
    height: auto;
    z-index: 20;
}

.syskrackMobile {
    @extend .syskrack;
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.syskrackDesktop {
    @extend .syskrack;
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
    }
}