.logoWrap {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 5px 10px 0 var(--nt-green);
    border: 2px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    width: 80%;
    margin-top: 30px;
    height: auto;
    padding: 10px;
    z-index: 2;
    @media screen and (min-width: 768px) {
        width: 40%;
    }
}

.logo {
    width: 100%;
    height: auto;
    border-radius: 10px;
}