/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: none;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--nt-transparent-blue);
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: var(--nt-blue);
}