@import 'scrollbar';
:root {
    --nt-blue: #014dfe;
    --nt-transparent-blue: #014dfe91;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: linear-gradient(-45deg, #5ddb3a83, #ff700083, #b400ff83, #00000083);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

p {
    margin: 0;
    margin-bottom: 10px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}