.wrap {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  top: 10px;
  position: absolute;
  margin: auto;
}
