.coming {
  z-index: 10;
  background: linear-gradient(-45deg, var(--nt-green), var(--nt-orange), var(--nt-purple), var(--nt-black));
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  &a {
    text-decoration: none;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
