.button {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 99;
    padding: 20px;
    height: fit-content;
}

.buttonRight {
    @extend .button;
    right: 0;
}

.buttonLeft {
    @extend .button;
    left: 0;
}

.arrow {
    width: 20px;
    height: 20px;
    border-top: 2.5px solid var(--nt-blue);
    border-right: 2.5px solid var(--nt-blue);
    transform: rotate(45deg);
    border-radius: 0 !important;
    @media screen and (min-width: 768px) {
        width: 40px;
        height: 40px;
        border-top: 5px solid var(--nt-blue);
        border-right: 5px solid var(--nt-blue);
    }
}