.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 40px;

  img {
    // width: 100px !important;
    border-radius: 3px;
  }

  // @media screen and (min-width: 768px) {
  //   img {
  //     width: 200px !important;
  //   }
  // }
}

.carousel {
  min-height: 100px;
}

.fakePhoto {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 300px;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 3px;
  font-size: large;
  text-transform: uppercase;
  font-weight: bolder;

  background-color: var(--nt-transparent-blue-black);

  a {
    text-decoration: none;
    color: var(--nt-blue);
    padding: 20px;
  }
}
