.date {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    @media screen and (min-width: 768px) {
        flex-direction: row;
        font-size: 1.5rem;
        gap: 40px;
    }
}

.calendar {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 0;
    width: -webkit-fill-available;
    z-index: 10;
    @media screen and (min-width: 768px) {
        font-size: 1.9rem;
    }
    >* {
        padding: 5px 10px 5px;
    }
    .days {
        align-items: center;
        background-color: none;
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        >* {
            align-items: center;
            background-color: var(--nt-blue);
            border: 2px solid var(--nt-blue);
            border-radius: 50%;
            color: var(--nt-white);
            cursor: pointer;
            display: flex;
            height: 50px;
            justify-content: center;
            text-align: center;
            width: 50px;
            @media screen and (min-width: 768px) {
                height: 60px;
                width: 60px;
            }
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.location {
    align-items: center;
    display: flex;
    flex-direction: column;
    .mobile {
        @extend .jumping;
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    .desktop {
        @extend .jumping;
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
    .grassano {
        border: solid 2px var(--nt-blue);
        border-bottom-width: 4px;
        border-radius: 20px;
        color: var(--nt-blue);
        display: flex;
        flex-direction: row;
        padding: 5px 10px 5px;
        text-decoration: none;
        width: max-content;
        z-index: 10;
        &:hover {
            transform: scale(1.02);
        }
         :first-child {
            font-weight: bolder;
        }
    }
}

.jumping {
    animation: jumping 5s infinite ease-in-out;
    z-index: 10;
}

@keyframes jumping {
    80% {
        transform: translateY(0) rotate(40deg);
    }
    90% {
        transform: translateY(-10px) rotate(40deg);
    }
    100% {
        transform: translateY(0) rotate(40deg);
    }
}